extends wrapper

block body

  .top-square
    .site-name
      .first Filip
      .last Wolanski

  .error.center And... that's an error

  footer
    .inline github:&nbsp;
      a(href="https://github.com/fwolanski").item fwolanski
    .inline work:&nbsp;
      a(href="http://ubriety.com").item ubriety

