extends wrapper

block meta
  title Filip Wolanski
  meta(property='og:title', content='Filip Wolanski')

block body

  .top-square
    .site-name
      .first Filip
      .last Wolanski

  .menu
    a(href="/french-english-vocabulary/").item Do the English Use More Words than the French?
    a(href="/montreal-realestate/").item Exploring Montreal Real Estate


  footer
    .inline github:&nbsp;
      a(href="https://github.com/fwolanski").item fwolanski
    .inline work:&nbsp;
      a(href="http://ubriety.com").item ubriety

