.clear:before,
.clear:after
  content: ""
  display: table
.clear:after
  clear: both
.clear
  zoom: 1

.left
  float: left
.right
  float: right

.block
  display: block
.inline
  display: inline
.ib
  display: inline-block
  *zoom: 1
  *display: inline

.none
  display: none

