$base0: #333333
$base1: #666666
$base2: #999999

body
  font-family: "Source Sans Pro", sans-serif
  font-weight: 300
  font-size: 1.2em

  .center
    text-align: center

    .mainImage
      width: 100px
      height: 100px
      padding: 1em

    h1
      font-weight: 700
      font-size: 2em
      color: $base0

    .linkContainer
      padding: 1em 0 1em 0

      a.inlineLink
        text-decoration: none
        display: inline-block
        padding: 0 10px 0 10px
        cursor: pointer
        color: $base1

.clear
  clear: both
