extends ../layouts/wrapper

block meta
  title The Vocabulary of French and English Authors

block scripts
  script(src="/vendor/d3.min.js")
  script(src="/vendor/colorbrewer.js")
  script(src="/vendor/iscroll.js")
  script(src="scripts/vocabulary.js")

block styles
  link(rel='stylesheet', href='styles/vocabulary.css')

block body
  .header
    h1.center The Vocabulary of French and English Writers
  #chart
    svg#legend
    .authorsContainer
      #authors test

  #desc hello
