@import ../../styles/mixins.sass

$bk: #F5F1EE
$red: #ad6e75
$blue: #6686a4

$authorHeight: 3rem
$scaleHeight: 3rem
$transitionTime: 0.5s

body
  background-color: $bk

.chart-container
  vertical-align: top
  width: 50%
  padding: 1rem
  #chart
    .axis
      stroke: $base3
      fill: none
      text
        font: "fira"
        font-size: 0.8rem
    .bar
      &.english
        fill: $red
      &.french
        fill: $blue

.description-container
  vertical-align: top
  padding: 1rem 0rem
  width: 50%
  .header
    color: $base3
    padding-top: 1rem
    font-weight: 700
    font-size: 0.8rem
    height: $scaleHeight
  .author
    height: $authorHeight
    .name
      font-weight: 700
    .dates
      margin-top: -0.4rem
      font-size: 0.8rem
      font-style: italic
