@import ../../styles/mixins.sass

$bk: #F5F1EE
$red: #ad6e75
$blue: #6686a4

$transitionTime: 0.5s

$titleHeight: 5rem
$descHeight: 15rem
$barHeight: 15rem
$legendWidth: 5rem
$authorWidth: 8rem
$bookWidth: 1rem

body
  .wrapper
    width: 55rem
    margin: 0 auto
    .header
      width: 100%
      margin: 3rem 0 3rem 0
      h1
        text-transform: uppercase
        margin: 0
        font-size: 2rem
        line-height: 2rem
        padding: 0
      h2
        font-family: 'merriweather'
        font-weight: 300
        font-style: italic
        font-size: 1.1rem
        line-height: 1.1rem
        margin: 0.5rem 0 0 0
        padding: 0
      h3
        font-weight: 300
        font-size: 1.1rem
        line-height: 1.1rem
        margin: 3rem 0 0 0
        padding: 0
        color: $base2

    h2
      font-weight: 700
      font-size: 1.1rem
      color: $base0
      padding: 1rem 0
    .text
      font-family: 'merriweather'
      font-weight: 300
      line-height: 1.7rem
      font-size: 1rem
      padding: 0 0 1.7rem 0

  #chart
    width: 100%
    height: $barHeight+$descHeight
    cursor: move
    position: relative
    margin: 1rem 0
    .legendContainer
      display: inline-block
      position: absolute
      top: 0
      left: 0
      height: $barHeight
      width: $legendWidth
      margin: 0 0 0 1rem
      z-index: 1
      #legend
        height: $barHeight
        pointer-events: none
        .axis
          text
            font-size: 0.8rem
            font-weight: 300
          path,line
            fill: none
            stroke: $base1
            shape-rendering: crispEdges
    .authorsContainer
      height: 100%
      width: 100%
      overflow: hidden
      #authors
        height: 100%
        .book
          cursor: pointer
          .words
            &.english
              fill: $red
            &.french
              fill: $blue
        .author
          cursor: pointer
          text-anchor: start
          font-size: 0.8rem
          .grid
            stroke: $base3
            stroke-dasharray: 2,2
            shape-rendering: crispEdges
          .title
            font-weight: 300
          .name
            font-weight: 700
          .dates
            font-style: italic
            font-weight: 300
          &.active
            .bar
              background-color: transparent
              .books
                display: inline-block
          &.inactive
            .bar
              background-color: $base3

