@import ../../styles/mixins.sass

$bk: #ffffff
// $bk: #F5F1EE
$red: #ad6e75
$blue: #6686a4

$transitionTime: 0.5s

$titleHeight: 5rem
$descHeight: 15rem
$barHeight: 20rem
$legendWidth: 5rem
$authorWidth: 8rem
$bookWidth: 1rem

body
  background-color: $bk
  .header
    height: $titleHeight
    width: 100%
    h1
      text-transform: uppercase
  #chart
    border-top: 1px solid $base3
    border-bottom: 1px solid $base3
    width: 100%
    height: $barHeight+$descHeight
    cursor: move
    .legendContainer
      display: inline-block
      position: absolute
      top: $titleHeight
      left: 0
      height: $barHeight
      width: $legendWidth
      margin: 0 1rem
      z-index: 1
      #legend
        .axis
          text
            font-size: 0.8rem
            font-weight: 700
          path,line
            fill: none
            stroke: $base1
            shape-rendering: crispEdges
    .authorsContainer
      height: 100%
      width: 100%
      overflow: hidden
      #authors
        height: 100%
        .book
          cursor: pointer
          .words
            fill: $base0
          .tokens
            &.english
              fill: $red
            &.french
              fill: $blue
        .author
          cursor: pointer
          text-anchor: start
          line-height: 0.9rem
          .grid
            stroke: $base3
            stroke-dasharray: 2,2
            shape-rendering: crispEdges
          .title
            font-size: 0.9rem
            font-weight: 300
          .name
            font-size: 0.9rem
            font-weight: 700
          .dates
            font-style: italic
            font-size: 0.9rem
            font-weight: 300
          &.active
            .bar
              background-color: transparent
              .books
                display: inline-block
          &.inactive
            .bar
              background-color: $base3


  #desc
    width: 100%
    height: 10rem
