@import ../../styles/mixins.sass

$optionHeight: 1rem
$optionWidth: 18rem
$topHeight: 18rem
$transitionTime: 0.4s

@media (max-width: $optionWidth * 3)
  html
    font-size: 10px

    .main-container
      #top
        height: 2.3rem
        &.open
          height: $topHeight + 6*$optionHeight + 3rem

html
  font-size: 18px

.shadow
  +box-shadow(0.3rem 0.3rem 0.5rem rgba(0,0,0,0.2))

.rounded-corners
  +border-radius(0.2rem)

#map
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  height: 100%
  svg
    .land
      opacity: 0.5
    .land:hover
      stroke-width: 2
      stroke: $red


.main-container
  position: absolute
  top: 0
  width: 100%

  #top
    border: 1px solid $base3
    position: absolute
    background-color: $base5
    width: $optionWidth
    height: $topHeight + 6*$optionHeight + 3rem
    // height: $topHeight
    right: 0.5rem
    top: 0.5rem
    overflow: hidden
    // +transition(height $transitionTime)
    .top-spacer
      height: 2.2rem
      width: $optionWidth
      border-bottom: 1px solid $base3
      background-color: #F5F1EE
      margin-bottom: 0.5rem
      h1
        text-align: center
        color: $red
        font-size: 1.05rem
        padding: 0.5rem 1rem 0 1rem
    h2
      font-weight: 700
      padding: 0.2rem 1rem
      font-size: 0.8rem
      height: 1rem
    p
      line-height: 1rem
      padding: 0 1rem
      font-size: 0.8rem
      margin: 0


    #legend
      padding: 0 1rem
      width: $optionWidth - 2rem
      height: 7rem
      .spinner
        text-align: center
        margin-top: 3rem
        margin-left: ($optionWidth/2) - 2rem
        font-size: 2rem
        color: $base3
      .svg-text
        font-size: 0.7rem

    .more-options
      display: none
      text-align: center
      width: 100%
      height: 1rem
      font-weight: 700
      font-size: 0.8rem
      color: $base2
      padding: 0.2rem
      i
        margin-top: -0.2rem

    .social-spacer
      height: 1px
      width: $optionWidth - 2rem
      margin: 0.5rem 1rem 0 1rem
    .social-container
      border-top: 1px solid $base3
      padding: 0.5rem 1rem
      background-color: #F5F1EE
      height: 3rem
      .social-button
        padding-right: 1rem
        vertical-align: top
        &.twitter
          margin-top: 0.4rem

    .data-container
      padding: 0 1rem
      .data-title
        font-weight: 700
        font-size: 0.8rem
        color: $base1
        padding-top: 0.3rem
        padding-bottom: 0.3rem
        &.filter
          padding-bottom: 0
      .dataOption
        cursor: pointer
        height: $optionHeight
        width: $optionWidth
        text-align: left
        .data-color
          height: $optionHeight
          width: $optionHeight
          opacity: 0.8
          +transition(opacity $transitionTime)
        .desc
          vertical-align: top
          color: inherit
          max-width: $optionWidth - $optionHeight - 3rem
          padding: 0.5rem
          height: $optionHeight
          font-size: 0.7rem
          margin-top: -0.5rem
        // &.active
        //   display: none
        &:hover:not(.active)
          color: $red
          .data-color
            opacity: 1

      .filterOption
        color: $base1
        cursor: pointer
        height: $optionHeight
        width: $optionWidth
        transition: opacity $transitionTime
        .icon
          visibility: hidden
          height: $optionHeight
          font-size: 0.7rem
        .desc
          vertical-align: middle
          color: inherit
          padding: 0 0.5rem
          height: $optionHeight
          font-size: 0.7rem
        &.active
          .icon
            visibility: visible
        &:hover
          color: $red

$popoverWidth: 16rem
#popover
  display: none
  position: absolute
  top: 0
  left: 0
  width: $popoverWidth
  background-color: rgba(255,255,255,0.9)
  border: 1px solid #bbb
  .popover-content
    width: $popoverWidth - 1rem
    padding: 0.5rem
    .title
      font-weight: 700
      text-align: center
      font-size: 0.8rem
    .subtitle
      font-weight: 300
      text-align: center
      font-size: 0.8rem
    .body
      padding: 0.5rem 0 0 0
      font-size: 0.8rem
      width: 100%
      .data-hline
        height: 1px
        background-color: #aaa
      .data-line
        width: 100%
        .table-title
          float: left
        .table-value
          float: right
    .empty
      text-align: center
      padding: 0.5rem 0 0 0
      font-size: 0.8rem
