$base0: #333333
$base1: #666666
$base2: #999999
$base3: #bbbbbb

.main-container
  padding: 0.5rem

.above-map-spacer
  background-color: #000
  width: 100%
  height: 1px
.below-map-spacer
  background-color: #000
  width: 100%
  height: 1px

#map
  width: 100%
  svg
    .land
      opacity: 0.5
    .land:hover
      stroke-width: 2
      stroke: black

$optionHeight: 3rem
$transitionTime: 0.4s
#bottom
  .dataOption
    color: $base2
    cursor: pointer
    height: $optionHeight
    padding-left: 2rem
    img
      opacity: 0.2
      height: $optionHeight
      width: $optionHeight
      border: 1px solid $base2
      -webkit-transition: opacity $transitionTime
      transition: opacity $transitionTime
    .desc
      color: inherit
      vertical-align: middle
      max-width: 15rem
      padding: 0.5rem
      height: $optionHeight
      line-height: 0.5em
    &.active
      cursor: auto
      color: $base0
      img
        opacity: 1
        border: 1px solid $base0
        -webkit-transition: opacity $transitionTime
        transition: opacity $transitionTime
    &:hover:not(.active)
      color: $base1
      img
        opacity: 1
        border: 1px solid $base1
        -webkit-transition: opacity $transitionTime
        transition: opacity $transitionTime

$popoverWidth: 14rem
#popover
  display: none
  position: absolute
  top: 0
  left: 0
  width: $popoverWidth
  background-color: rgba(255,255,255,0.9)
  border: 1px solid #bbb
  .popover-content
    width: $popoverWidth - 1rem
    padding: 0.5rem
    .title
      font-weight: 700
      text-align: center
      font-size: 0.8rem
    .body
      padding: 0.5rem 0 0 0
      font-size: 0.8rem
      width: 100%
      .data-hline
        height: 1px
        background-color: #aaa
      .data-line
        width: 100%
        .table-title
          float: left
        .table-value
          float: right
