extends layouts/wrapper

block body
  .center
    img.mainImage(src='assets/lambda.jpg')

    h1 Filip Wolanski

    .linkContainer
      a.inlineLink(href="http://ubriety.com") ubriety
      a.inlineLink(href="https://github.com/fwolanski") github
    .clear
