extends ../layouts/wrapper

block scripts
  script(src="/vendor/d3.min.js")
  script(src="/vendor/topojson.v1.min.js")
  script(src="/vendor/colorbrewer.js")
  script(src="/vendor/leaflet.js")
  script(src="scripts/map.js")

block styles
  link(rel='stylesheet', href='styles/map.css')
  link(rel="stylesheet", href="/vendor/leaflet.css")

block body
  #top.main-container.center
    h1.no-padding Mapping Montreal Real Estate
    h3.no-padding Exploring data from the Canadian Real Estate Association

  .above-map-spacer
  #map
  .below-map-spacer
  #bottom.main-container
    .option.ib
      .img.ib
      .desc.ib.clear This is the item
    .option.ib
      .img.ib
      .desc.ib.clear This is the item with a really long text thing going on
    .option.ib
      .img.ib
      .desc.ib.clear This is the item


  #popover.shadow
    .popover-content
      .title This is the title
      .body Here is some info
