extends ../layouts/wrapper

block scripts
  script(src="/vendor/d3.min.js")
  script(src="/vendor/topojson.v1.min.js")
  script(src="/vendor/colorbrewer.js")
  script(src="scripts/map.js")

block styles
  link(rel='stylesheet', href='styles/map.css')

block body
  center
    h1 Montreal Real Estate 2014

  .map-container
    svg#map(height=650, width=700)

  p Here be some description

  #popover.shadow
    .popover-content
      .title This is the title
      .body Here is some info
