doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    block meta
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700', rel='stylesheet')
    link(rel='stylesheet', href='/vendor/normalize.css')
    link(rel='stylesheet', href='/styles/helpers.css')
    link(rel='stylesheet', href='/styles/main.css')

    block styles
    //-script(src='js/vendor/modernizr-2.7.1.min.js')
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    //- Add the site or application content here
    block body

    script(src="/vendor/jquery-2.1.1.min.js")
    script(src="/vendor/underscore-min.js")
    block scripts
